/* styles/globals.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
        /* Hide scrollbars */
}

a {
    text-decoration: none;
    color: inherit;
}

.heading{
    font-weight: 700;
}

.head-2 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
}

.para{
    font-size: 20px;
    font-weight: 500;
    color: #383c41;
}

.para-2 {
    font-size: 16px;
    font-weight: 500;
    color: #383c41;
}